@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
  align: center;
  font-weight: normal;
}



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
